<div class="hide-on-med-and-down navbar-fixed">
  <nav class="grey darken-4">
    <div class="nav-wrapper container">
      <a href="{{ site.baseurl }}/index.html" class="brand-logo"><img src="{{ site.baseurl }}/assets/small_logo2.svg"></a>
    <ul class="right">
      <li><a href="news/index.html">News</a></li>
      <li><a href="services/index.html">Services</a></li>
      <li><a href="gallery/index.html">Gallery</a></li>
      <li><a href="contact/index.html">Contact</a></li>
    </ul>
  </div>
  </nav>
</div>

<div class="grey darken-4 hide-on-large-only">
  <center><a href="{{ site.baseurl }}/index.html"><img src="{{ site.baseurl }}/assets/small_logo2.svg" style="width:180px"></a></center>
  <ul class="list-inline">
    <li><h6><a class="white-text" href="{{ site.baseurl }}/news/index.html">News</a><h6></li>
    <li><h6><a class="white-text" href="{{ site.baseurl }}/services/index.html">Services</a><h6></li>
    <li><h6><a class="white-text" href="{{ site.baseurl }}/gallery/index.html">Gallery</a><h6></li>
    <li><h6><a class="white-text" href="{{ site.baseurl }}/contact/index.html">Contact</a><h6></li>
  </ul>
</div>
