---
layout: default
---
<div class="hero-section">
  <div class="hero-section-text">
    <h1>Bryan Fraser Contracting</h1>
    <h5>{{content}}</h5>
  </div>
</div>
  <div class="container">
    <div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><a href="{{ site.baseurl }}/services/index.html"><img src="assets/const.jpg" alt="" class="circle responsive-img"></a></h2>
            <h5 class="center">Custom Homes</h5>

            <p class="light">Have ideas for your dream home? We work with our valued customers to bring their dreams to life.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><a href="{{ site.baseurl }}/services/index.html"><img src="assets/reno.jpg" alt="" class="circle responsive-img"></a></h2>
            <h5 class="center">Renovations</h5>

            <p class="light">Time to spruce up the place?. New kitchen or bathroom? No problem!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><a href="{{ site.baseurl }}/services/index.html"><img src="assets/kubota.jpg" alt="" class="circle responsive-img"></a></h2>
            <h5 class="center">Landscaping and Heavy Equipment</h5>

            <p class="light">We offer backhoe, small excavator and dump truck rentals for all of your landscaping and yard renovations needs. </p>
          </div>
        </div>
        <span><a class="right a-line" href="{{ site.baseurl }}/services/index.html">More...</a></span><BR>
      </div>

    </div>
</div>
